.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    color: pink;
}

.username {
    color: yellow;
}

.counter {
    color: green;
}

.buttons>button {
    justify-content: center;
    background-color: aqua;
    border: none;
    width: 80px;
    font-size: 16px;
    font-family: var(--new-font);
    margin: 10px;
}