.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  color: var(--medium-purple);
  font-size: var(--large-header-font);
  font-family: var(--new-font);
}

.submit {
  width: 60px;
}